attrs==22.1.0
autopep8==2.0.0
cfgv==3.4.0
distlib==0.3.7
exceptiongroup==1.0.4
filelock==3.12.4
flake8==6.0.0
identify==2.5.29
iniconfig==1.1.1
mccabe==0.7.0
nodeenv==1.8.0
packaging==21.3
platformdirs==3.10.0
pluggy==1.0.0
pre-commit==3.4.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyparsing==3.0.9
pytest==7.2.0
PyYAML==6.0.1
tomli==2.0.1
virtualenv==20.24.5
